@media (max-width: 768px) {
  .project-item {
    transform: scale(1);
  }

  .grid {
    gap: 1px !important;
  }

  .sub {
    display: none;
  }
  .finalbox{
    margin-bottom: 10px;
    margin-top:10px;
  }
}